* {
  font-family: Arial, Helvetica, sans-serif;
}

.book-item {
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
}

:root {
  --firstcolor: #d9a441;
  --secondcolor: #BF843B;
  --thirdcolor: #f2e8dc;
  --fourthcolor: #8c5626;
  --fifthcolor: #593719;
}


/* Begin Permanent css */

h1 {
  background-color: var(--fourthcolor);
  text-align: center;
  color: var(--thirdcolor);
}

h2,
h3 {
  text-decoration: underline;
}

p {
  text-align: center;
  font-size: large;
}

#search-boxes {
  margin-bottom: 10px;
}


input:hover {
  background-color: gray;
}


@media screen and (max-width: 992px) {
  h1 {
    background-color: var(--fifthcolor);
    text-align: center;
    color: var(--thirdcolor);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    background-color: var(--fifthcolor);
    text-align: center;
    color: var(--secondcolor);
  }
}

/* Results Header  Style*/
header {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--fourthcolor);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

header div {
  margin: 0px 30px 10px 0px;
  color: black;
}